<aside class='sidebar speaking sm-12 md-3'>

    <section class='events'>
        <h2>Upcoming Events</h2>

        <ul class='upcoming-events'>
            {{> events events=futureEvents}}
        </ul>
    </section>

    <section class='recent-posts'>
        <h2>Recent Posts</h2>

        {{#each recentPosts}}
            <article>
                <p class='published-on'><i class='icon-calendar'></i>{{ shortDate }}</p>
                <h3><a href='/{{ path }}'>{{ title }}</a></h3>
            </article>
        {{/each}}
    </section>

    <section class='tags'>
        <section class='tag-cloud'>
        <h2>Tag Cloud</h2>

            <ul>
            {{#each tagcloud}}
                <li class='tag tag-size-{{weightName}}'>
                    <a href='/tag/{{ slug }}' title='See posts with the tag '{{ name }}''>{{ name }}</a>
                </li>
            {{/each}}
            </ul>
        </section>
    </section>

</aside>
