<!DOCTYPE html>
<html lang='en'>
    <head>
        {{> head }}
    </head>

    <body data-slug='{{#if path}}{{ path }}{{else}}home{{/if}}' class='off-canvas-contain'>
        {{> header }}

        <section class='main-body row'>
            <article class='main-content sm-12 md-12 {{#if nosidebar }}lg-12{{else}}lg-9{{/if}}'>

                {{{contents}}}

            </article>

            {{#if nosidebar }} {{else}}{{> sidebar }}{{/if}}
        </section>

        {{> footer }}

        {{> scripts }}
    </body>
</html>
