<!DOCTYPE html>
<html lang='en'>
    <head>
        {{> head windowsubtitle=title }}
    </head>

    <body data-slug='{{ path }}' class='off-canvas-contain'>
        {{> header }}

        <section class='main-body row'>
            <article class='main-content blog-post sm-12 md-12 lg-9' data-pagefind-body>

                <h2 id='{{ path }}' data-pagefind-meta='title'>{{ title }}</h2>

                <p class='publish-time'>
                    <i class='icon-calendar'></i>Published on <date>{{ date }}</date>
                </p>

                {{{ contents }}}

                <aside class='post-footer'>
                    <p class='publish-time'>
                        <i class='icon-calendar'></i>Published on <date>{{ date }}</date>
                    </p>
                    <p class='post-tags'>
                        Tagged with
                        <span class='tag-list'>
                            {{#each tags as |tag i|}}{{#if i}}, {{/if}}<a href='/tag/{{ tag.slug }}'>{{ tag.name }}</a>{{/each}}
                        </span>
                    </p>
                </aside>

                <aside class='sharing'>
                    <p>
                        Share the love:
                        <a href='https://bsky.app/intent/compose?text=Check%20out%20this%20post%20by%20@jordankasper.com:%20{{ title }}%20https://jordankasper.com/{{ permalink }}' target='_blank'>
                            <i class='icon-bluesky'></i>
                        </a>
                        <a href='https://www.linkedin.com/shareArticle?mini=true&title=Blog%20post%20by%20Jordan%20Kasper:%20{{ title }}&summary=&source=&url=https://jordankasper.com/{{ permalink }}' target='_blank'>
                            <i class='icon-linkedin'></i>
                        </a>
                        <a href='https://www.facebook.com/sharer/sharer.php?u=https://jordankasper.com/{{ permalink }}' target='_blank'>
                            <i class='icon-facebook-squared'></i>
                        </a>
                    </p>
                </aside>

                <section id='disqus_thread'></section>
                <noscript>
                    <p>Please enable JavaScript to view and post comments.</p>
                </noscript>

            </article>

            {{> sidebar }}
        </section>

        {{> footer }}

        {{> scripts }}

        <script>
        // Disqus config & startup
        (function() {
            let port = (location.port.length) ? Number(location.port) : 80;
            if (port === 80) {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//jordankasper.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            }
        })();
        </script>
    </body>
</html>
