<!DOCTYPE html>
<html lang='en'>
    <head>
        {{> head }}
    </head>

    <body>
        <header>
            <h1><a href='{{ url }}'>{{ site }}</a></h1>
        </header>

        <main>

            <h2>{{ tagline }}</h2>

            {{#each posts}}
                <article>
                    <h3><a href='/{{ path }}'>{{ title }}</a></h3>
                    <p>{{ path }} ({{ date }})</p>
                </article>
            {{/each}}

        </main>

        <footer>
          <p>&copy; Jordan Kasper 2018</p>
        </footer>
    </body>
</html>
