<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{ site }} - {{ title }}</title>
        <meta name="description" content="{{ description }}">
    </head>

    <body>
        <header>
            <h1><a href='{{ url }}'>{{ site }}</a></h1>
        </header>

        <main>

            {{{ contents }}}

            <footer>
                <p>
                    Tags:
                    {{#each tags}}
                        <a href='/tag/{{ slug }}'>{{ name }}</a>
                    {{/each}}
                </p>
            </footer>
        </main>

        <footer>
          <p>&copy; Jordan Kasper 2018</p>
        </footer>
    </body>
</html>
