<!DOCTYPE html>
<html lang='en'>
    <head>
        {{> head }}
    </head>

    <body data-slug='home' class='off-canvas-contain'>
        {{> header }}

        <section class='main-body row'>
            <section class='main-content recent-posts sm-12 md-12 lg-9'>
                <a href='/rss' class='rss'><i class='icon-rss-squared'></i></a>

                {{#each pagination.files}}
                    <article>
                        <h3><a href='/{{ permalink }}'>{{ title }}</a></h3>
                        <p>{{{ excerpt }}}</p>
                    </article>
                {{/each}}
            </section>

            {{> sidebar }}

            <nav class='paging'>
                {{#if pagination.next}}
                    <a class='next-page' href='/{{ pagination.next.path }}' title='View next page'><i class='icon-angle-double-left'></i> Older</a>
                {{/if}}
                {{#if pagination.previous}}
                    <a class='prev-page' href='/{{ pagination.previous.path }}' title='View previous page'>Newer <i class='icon-angle-double-right'></i></a>
                {{/if}}
            </nav>
        </section>

        {{> footer }}

        {{> scripts }}
    </body>
</html>
