<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name='content-type' content='text/html; charset=utf-8'>
        <title>{{ site }} - {{ title }}</title>
        <meta name='description' content='{{ description }}'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link href='//cdn.rawgit.com/trevanhetzel/barekit/master/css/barekit.css' rel='stylesheet'>
        <link href='css/main.css' rel='stylesheet'>
    </head>

    <body>
        <header>
            <h1><a href='{{ url }}'>{{ site }}</a></h1>
        </header>

        <main>

            {{{ contents }}}

            <footer>
                <p>
                    Tags:
                    {{#each tags}}
                        <a href='/tag/{{ slug }}'>{{ name }}</a>
                    {{/each}}
                </p>
            </footer>
        </main>

        <footer>
          <p>&copy; Jordan Kasper 2018</p>
        </footer>
    </body>
</html>
