
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{ site }} - Posts tagged with {{ tag }}</title>
        <meta name="description" content="{{ description }}">
    </head>

    <body>
        <header>
            <h1><a href='{{ url }}'>{{ site }}</a></h1>
        </header>

        <main>

            <h2>Posts in {{ tag }}</h2>

            {{#each pagination.files}}
                <article>
                    <h3><date>{{ date }}</date><a href='/{{ path }}'>{{ title }}</a></h3>
                    <p>
                        Other tags:
                        {{#each tags}}
                            <a href='/tag/{{ slug }}'>{{ name }}</a>
                        {{/each}}
                    </p>
                </article>
            {{/each}}

        </main>

        <footer>
          <p>&copy; Jordan Kasper 2018</p>
        </footer>
    </body>
</html>
