<!DOCTYPE html>
<html lang='en'>
    <head>
        {{> head windowsubtitle="Tagged posts" }}
    </head>

    <body data-slug='{{#if path}}{{ path }}{{else}}home{{/if}}' class='off-canvas-contain'>
        {{> header }}

        <section class='main-body row'>
            <article class='main-content posts-by-tag sm-12 md-12 lg-9'>

                <h2>Posts in <span class='tag-name'>{{ tag }}</span></h2>

                <ol>
                {{#each pagination.files}}
                    <li class='post'>
                        <time>{{ date }}</time>
                        <h3><a href='/{{path}}'>{{ title }}</a></h3>
                        <aside class='tags'>
                            <p>All Tags:</p>
                            <ul>
                                {{#each tags}}
                                    <li><a href='/tag/{{ slug }}'>{{ name }}</a></li>
                                {{/each}}
                            </ul>
                        </aside>
                    </li>
                {{/each}}
                </ol>
            </article>

            {{> sidebar }}
        </section>

        {{> footer }}

        {{> scripts }}
    </body>
</html>
